#trabajos-btn {
    border: none;
    width: fit-content;
    align-self: center;
    padding: 2vh 6vh;
    transition: all 0.2s;
    background-image: url('/src/assets/img/textureBg.JPG');
    color: rgb(255, 255, 255);
}

#trabajos-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    background-image: url('/src/assets/img/invert.JPG');
    background-repeat: no-repeat;
    animation: moveBackground 60s linear infinite;
}

#trabajos-btn:active {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    margin: 0.5vh 1vh;
    padding: 1.5vh 5vh;
    
}