.more {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: 7vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}


#more-bg1 {
    opacity: 0;
    transition: all 0.5s ease-out;
}

#more-bg2 {
    opacity: 1;
    transition: all 0.5s ease-in;
}

.info-all {
    width: 50%;
    text-align: center;
    transition: 0.5s;
}

.info-text-more {
    align-content: center;
}

.info-text-more h1 {
    margin-bottom: 2vh;
}

.info-text-more p {
    font-size: 16px;
    margin-bottom: 1vh;
}


.info-more-bg1 {
    text-align: center;
    margin: 5vh 25vw;
    margin-bottom: 10vh;
    color: rgb(255, 255, 255);
}

.info-more-bg2 {
    text-align: center;
    margin: 5vh 25vw;
    margin-bottom: 10vh;
    color: rgb(255, 255, 255);
}

#card-carousel {
    width: 100%;
    height: 50vh;
}
.carousel-btn {
    height: 8vh;
    width: 4vw;
    margin: 8vw;
    border:solid #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    align-self: center;
    transition: all 0.3s;
}

.carousel-btn:active {
    margin: 7vw;
    border:solid #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    align-self: center;
}

.carousel-control-next-icon{
    filter: brightness(0);
}

.carousel-control-prev-icon{
    filter: brightness(0);
}

#info {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.card {
    border: none;
}

.card-body {
    height: 7vh;
    transition: height 0.4s;
}

.card-body h5{
    font-size: 15px;
}

.card-img-top{
    height: 45vh;
    background: center;
    background-size: cover;
}

.card-img-top:hover{
    cursor: pointer;
}


.final {
    margin-top: 10vh;
    background-color: #ffffff81;
    backdrop-filter: blur(2px);
    color: rgb(0, 0, 0);
    padding: 1vh 2vw;
    font-size: 30px;
    margin-bottom: 6vh;
    transition: all 0.2s;
    border-radius: 100px;
}


.final:hover{
    background-color: #ffffff;
    backdrop-filter: none;
    color: rgb(0, 0, 0);
}

.modal-final {
    text-align: center;
}

.modal-final p{
    text-align: justify;
    margin-top: 2vh;
}

.modal-final img {
    filter: brightness(0);
    margin: 0vh 2vw;
}

.close-final {
    margin: 1vh;
    align-self: flex-end;
}










.col {
    transition: all 0.2s;
    text-align: center;
    margin-right: 1vh;
    margin-left: 1vh;
    height: fit-content;
    width: 20vw;
    overflow: hidden;
    transition: all 0.2s;
}

@media screen  and (max-width: 1025px){

    .carousel-btn {
        height: 10vh;
        width: 8vw;
        margin: 6vw;
    }

    .carousel-btn:active {
        margin: 4vw;
    }

    .more{
        padding-top: 9vh;
        padding-bottom: 11vh;
    }

    .info-all {
        width: 50%;
    }

    
    .info-more-bg1 {
        text-align: center;
        margin: 2vh 4vw;
        margin-bottom: 4vh;
    }
    
    .info-more-bg2 {
        text-align: center;
        margin: 2vh 4vw;;
        margin-bottom: 4vh;
    }

    .info-text-more h1 {
        font-size: 33px;
        margin-bottom: 2vh;
    }
    .info-text-more p {
        width: 100%;
        font-size: 13px;
        text-align: justify;
    }

    #card-carousel {
        width: 100%;
        height: fit-content;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 22vw;
        height: fit-content;
        align-self: center;
    }

    .card-body {
        height: fit-content;
        width: 22vw;
        transition: height 0.4s;
    }
    
    .card-body h5{
        font-size: 10px;
    }

    .card-img-top{
        height: 35vh;
        background: center;
        background-size: cover;
    }

    .col {
        margin-left: 0vw;
        margin-right: 0vw;
        transition: all 0.2s;
        text-align: center;
        width: fit-content;
        height: fit-content;
        padding-right: 1vw;
        padding-left: 1vw;
    }
}

@media screen  and (max-width: 769px){

    .carousel-btn {
        height: 10vh;
        width: 6vw;
        margin: 6vw;
    }

    .carousel-btn:active {
        margin: 4vw;
    }

    .more{
        padding-top: 10vh;
        padding-bottom: 11vh;
    }

    .info-all {
        width: 70%;
    }
    

    
    .info-more-bg1 {
        text-align: center;
        margin: 2vh 4vw;
        margin-bottom: 4vh;
    }
    
    .info-more-bg2 {
        text-align: center;
        margin: 2vh 4vw;;
        margin-bottom: 4vh;
    }

    .info-text-more h1 {
        font-size: 33px;
        margin-bottom: 2vh;
    }
    .info-text-more p {
        width: 100%;
        font-size: 13px;
        text-align: justify;
    }

    #card-carousel {
        width: 100%;
        height: fit-content;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 22vw;
        height: fit-content;
        align-self: center;
    }

    .card-body {
        height: fit-content;
        width: 22vw;
        transition: height 0.4s;
    }
    
    .card-body h5{
        font-size: 10px;
    }

    .card-img-top{
        height: 35vh;
        background: center;
        background-size: cover;
    }

    .col {
        margin-left: 0vw;
        margin-right: 0vw;
        transition: all 0.2s;
        text-align: center;
        width: fit-content;
        height: fit-content;
        padding-right: 1vw;
        padding-left: 1vw;
    }
}


@media screen  and (max-width: 426px){

    .more{
        padding-top: 0vh;
        padding-bottom: 7vh;
    }

    .info-all {
        width: 70%;
    }
    
    .info-more-bg1 {
        text-align: center;
        margin: 2vh 4vw;
        margin-bottom: 0vh;
    }
    
    .info-more-bg2 {
        text-align: center;
        margin: 2vh 4vw;;
        margin-bottom: 0vh;
    }

    .info-text-more h1 {
        text-align: left;
        margin-bottom: 2vh;
    }
    .info-text-more p {
        width: 100%;
        font-size: 12px;
        text-align: justify;
    }

    .carousel-btn {
        display: none;
    }

    .card{
        display: flex;
        flex-direction: column;
        width:fit-content;
        align-self: center;
    }

    .card-body {
        height: fit-content;
        width: 60vw;
        transition: height 0.4s;
    }
    
    .card-body h5{
        font-size: 10px;
    }

    .card-img-top{
        height: 35vh;
        background: center;
        background-size: cover;
    }

    .col {
        margin-left: 0vw;
        margin-right: 0vw;
        transition: all 0.2s;
        text-align: center;
        width: fit-content;
        height: fit-content;
        padding: 1vw;
    }

    .final {
        padding: 1vh 5vw;
    }
}


@media screen  and (max-width: 376px){

    .more{
        padding-top: 0vh;
        padding-bottom: 12vh;
    }

    .info-all {
        width: 70%;
    }
    
    .info-more-bg1 {
        text-align: center;
        margin: 2vh 4vw;
        margin-bottom: 0vh;
    }
    
    .info-more-bg2 {
        text-align: center;
        margin: 2vh 4vw;;
        margin-bottom: 0vh;
    }

    .info-text-more h1 {
        margin-bottom: 2vh;
        font-size: 26px;
    }
    .info-text-more p {
        width: 100%;
        font-size: 10px;
        text-align: justify;
    }

    .carousel-btn {
        display: none;
    }

    .card{
        display: flex;
        flex-direction: column;
        width:fit-content;
        align-self: center;
    }

    .card-body {
        height: fit-content;
        width: 60vw;
        transition: height 0.4s;
    }
    
    .card-body h5{
        font-size: 10px;
    }

    .card-img-top{
        height: 35vh;
        background: center;
        background-size: cover;
    }

    .col {
        margin-left: 0vw;
        margin-right: 0vw;
        transition: all 0.2s;
        text-align: center;
        width: fit-content;
        height: fit-content;
        padding: 1vw;
    }

    .final {
        padding: 1vh 7vw;
    }
}